
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/404.css" rel="stylesheet" />
    
</head>
<body>
    <div class="container">
        <div>
            <p class="text-center code">404</p>
            <p class="text-center exp1">Page Not Found</p>
           
        </div>
    </div>

</body>
</html>
