
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Server Error</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/500.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div>
            <p class="text-center code">500</p>
            <p class="text-center exp1">Somethis has gone wrong</p>
            <p class="text-center exp2">We are experiencing an internal server error.</p>
            <p class="text-center exp3">Please try back later</p>

        </div>
    </div>

</body>
</html>

