<div class="tablewrap">
    <table class="table">
        <thead>
        <tr>
            <th colspan="3">Actions</th>
            <th>class</th>
            <th>CloneFromclass</th>
            <th>EverGreenclass</th>
            <th>Title</th>
            <th>Job Board</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Company Name</th>
            <th>Podclass</th>
            <th>Division</th>
            <th>Activation Date</th>
            <th>Expiration Date</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>BOB</th>
            <th>Intvs</th>
            <th>Intvs 2nd</th>
            <th>ApsCl</th>
            <th>RemovedCL</th>
            
            
        </tr>
        </thead>
        <tbody>        
        <tr>
            <td class="actionbutton text-center">
                <a class="editaction" href="">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </td>
            <td class="actionbutton text-center">
                <a class="cloneaction"  href="">
                    <i class="glyphicon glyphicon-repeat"></i>
                </a>
            </td>
            <td class="actionbutton text-center">
                <a class="deleteaction"  href="">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
            <td>class</td>
            <td>CloneFromclass</td>
            <td>EverGreenclass</td>
            <td>Title</td>
            <td>Job Board</td>
            <td>City</td>
            <td>State</td>
            <td>Country</td>
            <td>Company Name</td>
            <td>Podclass</td>
            <td>Division</td>
            <td>Activation Date</td>
            <td>Expiration Date</td>
            <td>Created By</td>
            <td>Created Date</td>
            <td>BOB</td>
            <td>Intvs</td>
            <td>Intvs 2nd</td>
            <td>ApsCl</td>
            <td>RemovedCL</td>
        </tr>
        <tr>
            <td class="actionbutton text-center">
                <a class="editaction" href="">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </td>
            <td class="actionbutton text-center">
                <a class="cloneaction"  href="">
                    <i class="glyphicon glyphicon-repeat"></i>
                </a>
            </td>
            <td class="actionbutton text-center">
                <a class="deleteaction"  href="">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
            <td>class</td>
            <td>CloneFromclass</td>
            <td>EverGreenclass</td>
            <td>Title</td>
            <td>Job Board</td>
            <td>City</td>
            <td>State</td>
            <td>Country</td>
            <td>Company Name</td>
            <td>Podclass</td>
            <td>Division</td>
            <td>Activation Date</td>
            <td>Expiration Date</td>
            <td>Created By</td>
            <td>Created Date</td>
            <td>BOB</td>
            <td>Intvs</td>
            <td>Intvs 2nd</td>
            <td>ApsCl</td>
            <td>RemovedCL</td>
        </tr>
        <tr>
            <td class="actionbutton text-center">
                <a class="editaction" href="">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </td>
            <td class="actionbutton text-center">
                <a class="cloneaction"  href="">
                    <i class="glyphicon glyphicon-repeat"></i>
                </a>
            </td>
            <td class="actionbutton text-center">
                <a class="deleteaction"  href="">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
            <td>class</td>
            <td>CloneFromclass</td>
            <td>EverGreenclass</td>
            <td>Title</td>
            <td>Job Board</td>
            <td>City</td>
            <td>State</td>
            <td>Country</td>
            <td>Company Name</td>
            <td>Podclass</td>
            <td>Division</td>
            <td>Activation Date</td>
            <td>Expiration Date</td>
            <td>Created By</td>
            <td>Created Date</td>
            <td>BOB</td>
            <td>Intvs</td>
            <td>Intvs 2nd</td>
            <td>ApsCl</td>
            <td>RemovedCL</td>
        </tr>
        <tr>
            <td class="actionbutton text-center">
                <a class="editaction" href="">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </td>
            <td class="actionbutton text-center">
                <a class="cloneaction"  href="">
                    <i class="glyphicon glyphicon-repeat"></i>
                </a>
            </td>
            <td class="actionbutton text-center">
                <a class="deleteaction"  href="">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
            <td>class</td>
            <td>CloneFromclass</td>
            <td>EverGreenclass</td>
            <td>Title</td>
            <td>Job Board</td>
            <td>City</td>
            <td>State</td>
            <td>Country</td>
            <td>Company Name</td>
            <td>Podclass</td>
            <td>Division</td>
            <td>Activation Date</td>
            <td>Expiration Date</td>
            <td>Created By</td>
            <td>Created Date</td>
            <td>BOB</td>
            <td>Intvs</td>
            <td>Intvs 2nd</td>
            <td>ApsCl</td>
            <td>RemovedCL</td>
        </tr>
        <tr>
            <td class="actionbutton text-center">
                <a class="editaction" href="">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </td>
            <td class="actionbutton text-center">
                <a class="cloneaction"  href="">
                    <i class="glyphicon glyphicon-repeat"></i>
                </a>
            </td>
            <td class="actionbutton text-center">
                <a class="deleteaction"  href="">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
            <td>class</td>
            <td>CloneFromclass</td>
            <td>EverGreenclass</td>
            <td>Title</td>
            <td>Job Board</td>
            <td>City</td>
            <td>State</td>
            <td>Country</td>
            <td>Company Name</td>
            <td>Podclass</td>
            <td>Division</td>
            <td>Activation Date</td>
            <td>Expiration Date</td>
            <td>Created By</td>
            <td>Created Date</td>
            <td>BOB</td>
            <td>Intvs</td>
            <td>Intvs 2nd</td>
            <td>ApsCl</td>
            <td>RemovedCL</td>
        </tr>
        <tr>
            <td class="actionbutton text-center">
                <a class="editaction" href="">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </td>
            <td class="actionbutton text-center">
                <a class="cloneaction"  href="">
                    <i class="glyphicon glyphicon-repeat"></i>
                </a>
            </td>
            <td class="actionbutton text-center">
                <a class="deleteaction"  href="">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
            <td>class</td>
            <td>CloneFromclass</td>
            <td>EverGreenclass</td>
            <td>Title</td>
            <td>Job Board</td>
            <td>City</td>
            <td>State</td>
            <td>Country</td>
            <td>Company Name</td>
            <td>Podclass</td>
            <td>Division</td>
            <td>Activation Date</td>
            <td>Expiration Date</td>
            <td>Created By</td>
            <td>Created Date</td>
            <td>BOB</td>
            <td>Intvs</td>
            <td>Intvs 2nd</td>
            <td>ApsCl</td>
            <td>RemovedCL</td>
        </tr>
        <tr>
            <td class="actionbutton text-center">
                <a class="editaction" href="">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </td>
            <td class="actionbutton text-center">
                <a class="cloneaction"  href="">
                    <i class="glyphicon glyphicon-repeat"></i>
                </a>
            </td>
            <td class="actionbutton text-center">
                <a class="deleteaction"  href="">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
            <td>class</td>
            <td>CloneFromclass</td>
            <td>EverGreenclass</td>
            <td>Title</td>
            <td>Job Board</td>
            <td>City</td>
            <td>State</td>
            <td>Country</td>
            <td>Company Name</td>
            <td>Podclass</td>
            <td>Division</td>
            <td>Activation Date</td>
            <td>Expiration Date</td>
            <td>Created By</td>
            <td>Created Date</td>
            <td>BOB</td>
            <td>Intvs</td>
            <td>Intvs 2nd</td>
            <td>ApsCl</td>
            <td>RemovedCL</td>
        </tr>
       
        </tbody>
    </table>
</div>